.input_wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.superInput {
    outline: none;
}

.errorInput {
    border: none;
    outline: none;
}

.error {
    padding-top: 5px;
    color: #e96565;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.red {
    border-bottom: 5px solid #ff0000;
}
